<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Hurricane Loss Model</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type=text/javascript>
      $(function() {
        $('#calculate').bind('click', function() {
          $.getJSON('/getloss', {
            num_samples: $('input[name="num_samples"]').val(),
            macroevent_rate: $('input[name="macroevent_rate"]').val(),
            macroevent_mean: $('input[name="macroevent_mean"]').val(),
            macroevent_stddev: $('input[name="macroevent_stddev"]').val(),
            selfevent_rate: $('input[name="selfevent_rate"]').val(),
            selfevent_mean: $('input[name="selfevent_mean"]').val(),
            selfevent_stddev: $('input[name="selfevent_stddev"]').val()
          }, function(data) {
            $("#result").text(data.result);
          });
          return false;
        });
      });
    </script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="header">
              <h3 class="text-muted text-center">Market Loss Model</h3>
            </div>
            <hr/>
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <span class="col-md-6 text-right">Number of samples to run</span>
                        <div class="col-md-2">
                            <input id="no_samples" name="num_samples" type="text" value="{{ request.form['no_samples'] }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-md-6 text-right">The annual rate of macroeconomic events affecting the market</span>
                        <div class="col-md-2">
                            <input id="macroevent_rate" name="macroevent_rate" type="text" value="{{ request.form['macroevent_rate'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-6 text-right">LogNormal parameters for market loss due to macroeconomic events</span>
                        <span class="col-md-1 text-right">&#956:</span>
                        <div class="col-md-2">
                            <input id="macroevent_mean" name="macroevent_mean" type="text" value="{{ request.form['macroevent_mean'] }}" class="form-control">
                        </div>
                        <span class="col-md-1 text-right">&#963:</span>
                        <div class="col-md-2">
                            <input id="macroevent_stddev" name="macroevent_stddev" type="text" value="{{ request.form['macroevent_stddev'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-6 text-right">The annual rate of company specific events</span>
                        <div class="col-md-2">
                            <input id="selfevent_rate" name="selfevent_rate" type="text" value="{{ request.form['selfevent_rate'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-6 text-right">LogNormal parameters for market loss due to company specific events</span>
                        <span class="col-md-1 text-right">&#956:</span>
                        <div class="col-md-2">
                            <input id="selfevent_mean" name="selfevent_mean" type="text" value="{{ request.form['selfevent_mean'] }}" class="form-control">
                        </div>
                        <span class="col-md-1 text-right">&#963:</span>
                        <div class="col-md-2">
                            <input id="selfevent_stddev" name="selfevent_stddev" type="text" value="{{ request.form['selfevent_stddev'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" id="calculate" class="btn btn-primary btn-lg">Calculate</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <span class="col-md-6 text-right">Calculated average annual market loss ($ Billion)</span>
                        <span id="result" class="col-md-1 text-right">0</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>
